n8n-workflows/ESVA_Tool_Agendar_Cita.json
{
  "name": "ESVA_Tool_Agendar_Cita",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validar y normalizar los par谩metros de entrada\nconst input = $input.item.json;\n\nconst fecha = input.fecha;\nconst hora = input.hora;\nconst sucursal = input.sucursal?.toLowerCase();\nconst nombrePaciente = input.nombre_paciente;\nconst telefono = input.telefono;\nconst leadId = input.lead_id;\nconst clasificacion = input.clasificacion?.toUpperCase() || 'WARM';\n\n// Mapear nombre de sucursal a branch_id\nconst branchIds = {\n  'nogales': 'b0000000-0000-0000-0000-000000000001',\n  'hermosillo': 'b0000000-0000-0000-0000-000000000003'\n};\n\nconst branchNames = {\n  'nogales': 'ESVA Nogales',\n  'hermosillo': 'ESVA Hermosillo'\n};\n\nconst branchId = branchIds[sucursal];\n\n// Validaciones\nconst errors = [];\n\nif (!branchId) {\n  errors.push('Sucursal no v谩lida. Las sucursales disponibles son: Nogales y Hermosillo.');\n}\n\nif (!fecha || !/^\\d{4}-\\d{2}-\\d{2}$/.test(fecha)) {\n  errors.push('Fecha no v谩lida. Formato requerido: YYYY-MM-DD');\n}\n\nif (!hora || !/^\\d{2}:\\d{2}$/.test(hora)) {\n  errors.push('Hora no v谩lida. Formato requerido: HH:MM');\n}\n\nif (!nombrePaciente || nombrePaciente.trim().length < 2) {\n  errors.push('Nombre del paciente es requerido.');\n}\n\nif (!leadId) {\n  errors.push('ID del lead es requerido.');\n}\n\n// Validar clasificaci贸n\nconst validClassifications = ['HOT', 'WARM', 'COLD'];\nconst finalClassification = validClassifications.includes(clasificacion) ? clasificacion : 'WARM';\n\nif (errors.length > 0) {\n  return {\n    json: {\n      success: false,\n      errors: errors,\n      message: errors.join(' ')\n    }\n  };\n}\n\n// Validar fecha no sea pasada ni mismo d铆a\nconst requestedDate = new Date(fecha);\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nif (requestedDate <= today) {\n  return {\n    json: {\n      success: false,\n      message: 'No se pueden agendar citas para hoy o d铆as pasados. El m铆nimo es 1 d铆a de anticipaci贸n.'\n    }\n  };\n}\n\n// Formatear fecha para mostrar\nconst diasSemana = ['domingo', 'lunes', 'martes', 'mi茅rcoles', 'jueves', 'viernes', 's谩bado'];\nconst meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];\nconst fechaFormateada = `${diasSemana[requestedDate.getDay()]} ${requestedDate.getDate()} de ${meses[requestedDate.getMonth()]}`;\n\n// Formatear hora para mostrar\nconst hourNum = parseInt(hora.split(':')[0]);\nconst ampm = hourNum >= 12 ? 'PM' : 'AM';\nconst hour12 = hourNum > 12 ? hourNum - 12 : hourNum;\nconst horaFormateada = `${hour12}:${hora.split(':')[1]} ${ampm}`;\n\nreturn {\n  json: {\n    success: true,\n    validated: true,\n    // Datos para crear la cita\n    branchId: branchId,\n    branchName: branchNames[sucursal],\n    fecha: fecha,\n    hora: hora,\n    nombrePaciente: nombrePaciente.trim(),\n    telefono: telefono,\n    leadId: leadId,\n    clasificacion: finalClassification,\n    // Datos formateados\n    fechaFormateada: fechaFormateada,\n    horaFormateada: horaFormateada,\n    sucursalDisplay: branchNames[sucursal]\n  }\n};"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-validation",
              "leftValue": "={{ $json.validated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-validation",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/appointments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id"
            },
            {
              "name": "tenant_id",
              "value": "eq.a0000000-0000-0000-0000-000000000001"
            },
            {
              "name": "branch_id",
              "value": "eq.{{ $json.branchId }}"
            },
            {
              "name": "appointment_date",
              "value": "eq.{{ $json.fecha }}"
            },
            {
              "name": "appointment_time",
              "value": "eq.{{ $json.hora }}"
            },
            {
              "name": "status",
              "value": "in.(PENDING,CONFIRMED,CHECKED_IN,IN_PROGRESS)"
            },
            {
              "name": "deleted_at",
              "value": "is.null"
            }
          ]
        },
        "options": {}
      },
      "id": "verify-slot-available",
      "name": "Verify Slot Available",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-slot-free",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-slot-available",
      "name": "Is Slot Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/appointments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"a0000000-0000-0000-0000-000000000001\",\n  \"lead_id\": \"{{ $('Validate Input').item.json.leadId }}\",\n  \"branch_id\": \"{{ $('Validate Input').item.json.branchId }}\",\n  \"assigned_staff_id\": \"c0000000-0000-0000-0000-000000000001\",\n  \"appointment_date\": \"{{ $('Validate Input').item.json.fecha }}\",\n  \"appointment_time\": \"{{ $('Validate Input').item.json.hora }}\",\n  \"duration_minutes\": 60,\n  \"appointment_type\": \"CONSULTATION\",\n  \"appointment_subtype\": \"VALORACION\",\n  \"status\": \"CONFIRMED\",\n  \"reason\": \"Valoraci贸n dental - Cita agendada via WhatsApp AI\",\n  \"booked_via\": \"ai_whatsapp\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "create-appointment",
      "name": "Create Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "eq.{{ $('Validate Input').item.json.leadId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"APPOINTMENT_BOOKED\",\n  \"classification\": \"{{ $('Validate Input').item.json.clasificacion }}\",\n  \"preferred_branch_id\": \"{{ $('Validate Input').item.json.branchId }}\",\n  \"first_name\": \"{{ $('Validate Input').item.json.nombrePaciente.split(' ')[0] }}\",\n  \"last_name\": \"{{ $('Validate Input').item.json.nombrePaciente.split(' ').slice(1).join(' ') || '' }}\"\n}",
        "options": {}
      },
      "id": "update-lead",
      "name": "Update Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Construir respuesta de 茅xito\nconst validationData = $('Validate Input').item.json;\n\n// Obtener link de ubicaci贸n\nconst locationLinks = {\n  'b0000000-0000-0000-0000-000000000001': 'https://maps.app.goo.gl/6CKXWxat9CLqyL4g9', // Nogales\n  'b0000000-0000-0000-0000-000000000003': 'https://maps.app.goo.gl/9ra9fYwLuJeZWFFq5'  // Hermosillo\n};\n\nconst locationLink = locationLinks[validationData.branchId];\n\n// Construir mensaje de confirmaci贸n\nconst confirmationMessage = `隆Excelente! Su cita ha sido agendada exitosamente.\n\n Fecha: ${validationData.fechaFormateada}\n Hora: ${validationData.horaFormateada}\n Sucursal: ${validationData.sucursalDisplay}\n Paciente: ${validationData.nombrePaciente}\n\nLe enviaremos un recordatorio 24 horas antes de su cita.\n\n Ubicaci贸n: ${locationLink}\n\n隆Lo esperamos en ESVA Dental! Ψ`;\n\nreturn {\n  json: {\n    success: true,\n    appointmentCreated: true,\n    appointmentDetails: {\n      fecha: validationData.fecha,\n      fechaFormateada: validationData.fechaFormateada,\n      hora: validationData.hora,\n      horaFormateada: validationData.horaFormateada,\n      sucursal: validationData.sucursalDisplay,\n      paciente: validationData.nombrePaciente,\n      clasificacion: validationData.clasificacion\n    },\n    locationLink: locationLink,\n    message: confirmationMessage\n  }\n};"
      },
      "id": "build-success-response",
      "name": "Build Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 100]
    },
    {
      "parameters": {
        "jsCode": "// El slot ya no est谩 disponible\nconst validationData = $('Validate Input').item.json;\n\nreturn {\n  json: {\n    success: false,\n    appointmentCreated: false,\n    message: `Lo sentimos, el horario de ${validationData.horaFormateada} para el ${validationData.fechaFormateada} en ${validationData.sucursalDisplay} ya no est谩 disponible. Por favor consulte otros horarios disponibles.`,\n    suggestion: 'Usar la herramienta consultar_disponibilidad para ver horarios actualizados'\n  }\n};"
      },
      "id": "slot-not-available",
      "name": "Slot Not Available",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "jsCode": "// Retornar el error de validaci贸n\nreturn {\n  json: $('Validate Input').item.json\n};"
      },
      "id": "return-validation-error",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "content": "##  ESVA Tool: Agendar Cita\n\n**Funci贸n:** Crea una cita de valoraci贸n en el sistema\n\n**Inputs:**\n- fecha: YYYY-MM-DD\n- hora: HH:MM\n- sucursal: 'nogales' o 'hermosillo'\n- nombre_paciente: Nombre completo\n- telefono: N煤mero de tel茅fono\n- lead_id: UUID del lead\n- clasificacion: HOT, WARM, o COLD\n\n**Proceso:**\n1. Validar inputs\n2. Verificar slot disponible\n3. Crear appointment en Supabase\n4. Actualizar lead status y clasificaci贸n\n\n**Output:**\n- Confirmaci贸n con detalles\n- Link de ubicaci贸n",
        "height": 380,
        "width": 320,
        "color": 4
      },
      "id": "sticky-note",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-300, 100]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Verify Slot Available",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Slot Available": {
      "main": [
        [
          {
            "node": "Is Slot Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Slot Available?": {
      "main": [
        [
          {
            "node": "Create Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slot Not Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment": {
      "main": [
        [
          {
            "node": "Update Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead": {
      "main": [
        [
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "esva-tool-agendar-cita-v1"
  },
  "tags": [
    {
      "name": "ESVA"
    },
    {
      "name": "Tool"
    }
  ]
}
