n8n-workflows/ESVA_Tool_Escalar_Recepcion.json
{
  "name": "ESVA_Tool_Escalar_Recepcion",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validar parametros de entrada\nconst input = $input.item.json;\n\nconst leadId = input.lead_id;\nconst razon = input.razon?.toLowerCase() || 'no_resuelto';\nconst contexto = input.contexto || 'Sin contexto proporcionado';\n\n// Validar razon\nconst razonesValidas = ['dr_estrella', 'queja', 'no_resuelto', 'urgente', 'otro'];\nconst razonFinal = razonesValidas.includes(razon) ? razon : 'no_resuelto';\n\n// Determinar prioridad segun razon\nlet prioridad = 'normal';\nif (razon === 'dr_estrella') prioridad = 'high';\nif (razon === 'queja' || razon === 'urgente') prioridad = 'urgent';\n\n// Determinar clasificacion del lead\nlet nuevaClasificacion = 'warm';\nif (razon === 'dr_estrella') nuevaClasificacion = 'hot';\nif (razon === 'queja') nuevaClasificacion = 'warm';\n\nreturn {\n  json: {\n    leadId: leadId,\n    razon: razonFinal,\n    contexto: contexto,\n    prioridad: prioridad,\n    nuevaClasificacion: nuevaClasificacion,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "eq.{{ $json.leadId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"escalated\",\n  \"classification\": \"{{ $json.nuevaClasificacion }}\",\n  \"notes\": \"ESCALADO: {{ $json.razon }} - {{ $json.contexto }}\"\n}",
        "options": {}
      },
      "id": "update-lead-status",
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,full_name,phone,email,branch_id,branches(name)"
            },
            {
              "name": "id",
              "value": "eq.{{ $('Validate Input').item.json.leadId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-lead-info",
      "name": "Get Lead Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tenant_notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"a0000000-0000-0000-0000-000000000001\",\n  \"notification_type\": \"escalation\",\n  \"priority\": \"{{ $('Validate Input').item.json.prioridad }}\",\n  \"title\": \"Escalacion: {{ $('Validate Input').item.json.razon === 'dr_estrella' ? 'Solicita Dr. Alberto Estrella' : $('Validate Input').item.json.razon === 'queja' ? 'Queja de paciente' : 'Requiere atencion humana' }}\",\n  \"body\": \"Paciente: {{ $json[0]?.full_name || 'Sin nombre' }}\\nTelefono: {{ $json[0]?.phone || 'N/A' }}\\nSucursal: {{ $json[0]?.branches?.name || 'N/A' }}\\n\\nContexto: {{ $('Validate Input').item.json.contexto }}\",\n  \"channel\": \"in_app\",\n  \"status\": \"pending\",\n  \"related_lead_id\": \"{{ $('Validate Input').item.json.leadId }}\",\n  \"metadata\": {\n    \"razon\": \"{{ $('Validate Input').item.json.razon }}\",\n    \"timestamp\": \"{{ $('Validate Input').item.json.timestamp }}\"\n  }\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {}
      },
      "id": "create-notification",
      "name": "Create Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Construir respuesta de exito\nconst validationData = $('Validate Input').item.json;\nconst leadInfo = $('Get Lead Info').item.json[0] || {};\n\n// Mensaje segun tipo de escalacion\nlet mensajeRespuesta = '';\n\nswitch(validationData.razon) {\n  case 'dr_estrella':\n    mensajeRespuesta = `Entendido. He notificado a nuestro equipo de recepcion sobre su interes en una cita con el Dr. Alberto Estrella. En breve se pondran en contacto con usted para coordinar la cita directamente. Gracias por su preferencia.`;\n    break;\n  case 'queja':\n    mensajeRespuesta = `Lamento mucho la situacion. He escalado su caso a nuestro equipo de atencion al cliente con prioridad urgente. Un representante se comunicara con usted a la brevedad para resolver su inquietud.`;\n    break;\n  default:\n    mensajeRespuesta = `He transferido su solicitud a nuestro equipo de recepcion. En breve se pondran en contacto con usted para asistirle personalmente.`;\n}\n\nreturn {\n  json: {\n    success: true,\n    escalated: true,\n    razon: validationData.razon,\n    prioridad: validationData.prioridad,\n    leadName: leadInfo.full_name || 'Paciente',\n    message: mensajeRespuesta\n  }\n};"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "content": "## ESVA Tool: Escalar a Recepcion\n\n**Funcion:** Transfiere conversacion a agente humano\n\n**Casos de uso:**\n1. Paciente solicita Dr. Alberto Estrella\n2. Paciente tiene una queja\n3. IA no puede resolver la situacion\n\n**Proceso:**\n1. Validar parametros\n2. Actualizar lead (status: escalated)\n3. Crear notificacion en dashboard\n4. Retornar mensaje de confirmacion\n\n**Prioridades:**\n- dr_estrella -> high\n- queja/urgente -> urgent\n- otros -> normal",
        "height": 340,
        "width": 300,
        "color": 1
      },
      "id": "sticky-note",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-300, 150]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Status": {
      "main": [
        [
          {
            "node": "Get Lead Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Info": {
      "main": [
        [
          {
            "node": "Create Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notification": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "esva-tool-escalar-recepcion-v1"
  },
  "tags": [
    {"name": "ESVA"},
    {"name": "Tool"},
    {"name": "Escalation"}
  ]
}
