n8n-workflows/ESVA_Tool_Agendar_Cita.json
{
  "name": "ESVA_Tool_Agendar_Cita",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// ESVA Tool: Agendar Cita v2.0\n// Version: 2.0 - Con datos reales y WhatsApp Location\n// ===========================================\n\nconst input = $input.item.json;\n\nconst fecha = input.fecha;\nconst hora = input.hora;\nlet sucursal = (input.sucursal || '').toLowerCase().trim();\nconst nombrePaciente = input.nombre_paciente;\nconst telefono = input.telefono;\nconst leadId = input.lead_id;\nconst clasificacion = (input.clasificacion || 'WARM').toUpperCase();\n\n// ALIASES DE SUCURSALES\nconst sucursalAliases = {\n  'nogales': 'nogales',\n  'noga': 'nogales',\n  'frontera': 'nogales',\n  'arizona': 'nogales',\n  'usa': 'nogales',\n  'hermosillo': 'hermosillo',\n  'hillo': 'hermosillo',\n  'hmo': 'hermosillo'\n};\n\n// Resolver alias\nsucursal = sucursalAliases[sucursal] || sucursal;\n\n// DATOS DE SUCURSALES - REALES\nconst branches = {\n  'nogales': {\n    id: 'b0000000-0000-0000-0000-000000000001',\n    name: 'ESVA Nogales',\n    address: 'Av. Alvaro Obregon 1228, Bolivar, 84060 Heroica Nogales, Sonora',\n    phone: '+1 (520) 619-9380',\n    coordinates: {\n      latitude: 31.310517734650443,\n      longitude: -110.94434054576938\n    },\n    googleMapsUrl: 'https://maps.google.com/?q=31.310517734650443,-110.94434054576938'\n  },\n  'hermosillo': {\n    id: 'b0000000-0000-0000-0000-000000000003',\n    name: 'ESVA Hermosillo',\n    address: 'C. Gral. Juan Garcia Cabral 139, Periodista, 83156 Hermosillo, Sonora',\n    phone: '+52 (662) 464-9887',\n    coordinates: {\n      latitude: 29.108756608148557,\n      longitude: -110.94797149188004\n    },\n    googleMapsUrl: 'https://maps.google.com/?q=29.108756608148557,-110.94797149188004'\n  }\n};\n\nconst branch = branches[sucursal];\n\n// Validaciones\nconst errors = [];\n\nif (!branch) {\n  errors.push('Sucursal no valida. Tenemos sucursales en Nogales y Hermosillo.');\n}\n\nif (!fecha || !/^\\d{4}-\\d{2}-\\d{2}$/.test(fecha)) {\n  errors.push('Fecha no valida. Formato: YYYY-MM-DD');\n}\n\nif (!hora || !/^\\d{2}:\\d{2}$/.test(hora)) {\n  errors.push('Hora no valida. Formato: HH:MM');\n}\n\nif (!nombrePaciente || nombrePaciente.trim().length < 2) {\n  errors.push('Nombre del paciente requerido.');\n}\n\nif (!leadId) {\n  errors.push('ID del lead requerido.');\n}\n\n// Validar clasificacion\nconst validClassifications = ['HOT', 'WARM', 'COLD'];\nconst finalClassification = validClassifications.includes(clasificacion) ? clasificacion : 'WARM';\n\nif (errors.length > 0) {\n  return {\n    json: {\n      success: false,\n      errors: errors,\n      message: errors.join(' ')\n    }\n  };\n}\n\n// Validar fecha no pasada\nconst today = new Date();\n// Timezone Hermosillo\nconst hermosillo_offset = -7;\nconst nowHermosillo = new Date(today.getTime() + (hermosillo_offset * 60 + today.getTimezoneOffset()) * 60000);\nconst todayStr = nowHermosillo.toISOString().split('T')[0];\n\nif (fecha <= todayStr) {\n  return {\n    json: {\n      success: false,\n      message: 'No se pueden agendar citas para hoy o dias pasados. El minimo es 1 dia de anticipacion.'\n    }\n  };\n}\n\n// Formatear fecha\nconst requestedDate = new Date(fecha + 'T12:00:00');\nconst diasSemana = ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'];\nconst meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];\nconst fechaFormateada = `${diasSemana[requestedDate.getDay()]} ${requestedDate.getDate()} de ${meses[requestedDate.getMonth()]}`;\n\n// Formatear hora 12h\nconst [hourStr, minStr] = hora.split(':');\nconst h = parseInt(hourStr);\nconst ampm = h >= 12 ? 'PM' : 'AM';\nconst h12 = h > 12 ? h - 12 : (h === 0 ? 12 : h);\nconst horaFormateada = `${h12}:${minStr} ${ampm}`;\n\nreturn {\n  json: {\n    success: true,\n    validated: true,\n    // Datos para crear cita\n    branchId: branch.id,\n    branchName: branch.name,\n    branchAddress: branch.address,\n    branchPhone: branch.phone,\n    fecha: fecha,\n    hora: hora,\n    nombrePaciente: nombrePaciente.trim(),\n    telefono: telefono,\n    leadId: leadId,\n    clasificacion: finalClassification,\n    // Datos formateados\n    fechaFormateada: fechaFormateada,\n    horaFormateada: horaFormateada,\n    // Para WhatsApp Location\n    location: {\n      latitude: branch.coordinates.latitude,\n      longitude: branch.coordinates.longitude,\n      name: branch.name,\n      address: branch.address\n    },\n    googleMapsUrl: branch.googleMapsUrl\n  }\n};"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-validation",
              "leftValue": "={{ $json.validated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-validation",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/appointments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id"
            },
            {
              "name": "tenant_id",
              "value": "eq.a0000000-0000-0000-0000-000000000001"
            },
            {
              "name": "branch_id",
              "value": "eq.{{ $json.branchId }}"
            },
            {
              "name": "appointment_date",
              "value": "eq.{{ $json.fecha }}"
            },
            {
              "name": "appointment_time",
              "value": "eq.{{ $json.hora }}"
            },
            {
              "name": "status",
              "value": "in.(PENDING,CONFIRMED,CHECKED_IN,IN_PROGRESS)"
            },
            {
              "name": "deleted_at",
              "value": "is.null"
            }
          ]
        },
        "options": {}
      },
      "id": "verify-slot-available",
      "name": "Verify Slot Available",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-slot-free",
              "leftValue": "={{ Array.isArray($json) ? $json.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-slot-available",
      "name": "Is Slot Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/appointments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"a0000000-0000-0000-0000-000000000001\",\n  \"lead_id\": \"{{ $('Validate Input').item.json.leadId }}\",\n  \"branch_id\": \"{{ $('Validate Input').item.json.branchId }}\",\n  \"assigned_staff_id\": \"c0000000-0000-0000-0000-000000000001\",\n  \"appointment_date\": \"{{ $('Validate Input').item.json.fecha }}\",\n  \"appointment_time\": \"{{ $('Validate Input').item.json.hora }}\",\n  \"duration_minutes\": 60,\n  \"appointment_type\": \"CONSULTATION\",\n  \"appointment_subtype\": \"VALORACION\",\n  \"status\": \"CONFIRMED\",\n  \"reason\": \"Valoracion dental GRATUITA - Cita agendada via WhatsApp AI\",\n  \"booked_via\": \"ai_whatsapp\",\n  \"notes\": \"Paciente: {{ $('Validate Input').item.json.nombrePaciente }}\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {}
      },
      "id": "create-appointment",
      "name": "Create Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "eq.{{ $('Validate Input').item.json.leadId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"APPOINTMENT_BOOKED\",\n  \"classification\": \"{{ $('Validate Input').item.json.clasificacion }}\",\n  \"preferred_branch_id\": \"{{ $('Validate Input').item.json.branchId }}\",\n  \"full_name\": \"{{ $('Validate Input').item.json.nombrePaciente }}\"\n}",
        "options": {}
      },
      "id": "update-lead",
      "name": "Update Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tenant_notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"a0000000-0000-0000-0000-000000000001\",\n  \"notification_type\": \"new_appointment\",\n  \"priority\": \"normal\",\n  \"title\": \"Nueva Cita Agendada via WhatsApp\",\n  \"body\": \"Paciente: {{ $('Validate Input').item.json.nombrePaciente }}\\nFecha: {{ $('Validate Input').item.json.fechaFormateada }}\\nHora: {{ $('Validate Input').item.json.horaFormateada }}\\nSucursal: {{ $('Validate Input').item.json.branchName }}\",\n  \"channel\": \"in_app\",\n  \"status\": \"pending\",\n  \"related_lead_id\": \"{{ $('Validate Input').item.json.leadId }}\",\n  \"metadata\": {\n    \"appointment_date\": \"{{ $('Validate Input').item.json.fecha }}\",\n    \"appointment_time\": \"{{ $('Validate Input').item.json.hora }}\",\n    \"branch_id\": \"{{ $('Validate Input').item.json.branchId }}\",\n    \"booked_via\": \"ai_whatsapp\"\n  }\n}",
        "options": {}
      },
      "id": "notify-dashboard",
      "name": "Notify Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -80],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// Construir respuesta de exito con WhatsApp Location\n// ===========================================\n\nconst validationData = $('Validate Input').item.json;\n\n// Mensaje de confirmacion - MENCIONAR QUE ES GRATUITA\nconst confirmationMessage = `Excelente! Su cita de valoracion GRATUITA ha sido agendada.\n\nFecha: ${validationData.fechaFormateada}\nHora: ${validationData.horaFormateada}\nSucursal: ${validationData.branchName}\nDireccion: ${validationData.branchAddress}\n\nPaciente: ${validationData.nombrePaciente}\n\nRecuerde:\n- La valoracion es completamente GRATUITA\n- Duracion aproximada: 30-45 minutos\n- Llevara radiografias si las tiene\n- Le enviaremos recordatorio 24h antes\n\nLe envio la ubicacion exacta para que pueda llegar facilmente.`;\n\nreturn {\n  json: {\n    success: true,\n    appointmentCreated: true,\n    appointmentDetails: {\n      fecha: validationData.fecha,\n      fechaFormateada: validationData.fechaFormateada,\n      hora: validationData.hora,\n      horaFormateada: validationData.horaFormateada,\n      sucursal: validationData.branchName,\n      direccion: validationData.branchAddress,\n      telefono: validationData.branchPhone,\n      paciente: validationData.nombrePaciente,\n      clasificacion: validationData.clasificacion\n    },\n    // Para enviar WhatsApp Location\n    location_to_send: validationData.location,\n    send_location: true,\n    // Fallback URL\n    googleMapsUrl: validationData.googleMapsUrl,\n    message: confirmationMessage\n  }\n};"
      },
      "id": "build-success-response",
      "name": "Build Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 100]
    },
    {
      "parameters": {
        "jsCode": "// El slot ya no esta disponible\nconst validationData = $('Validate Input').item.json;\n\nreturn {\n  json: {\n    success: false,\n    appointmentCreated: false,\n    message: `Lo siento, el horario de ${validationData.horaFormateada} para el ${validationData.fechaFormateada} en ${validationData.branchName} ya no esta disponible. Le puedo mostrar otros horarios disponibles para ese dia?`,\n    suggestion: 'consultar_disponibilidad',\n    suggestedParams: {\n      fecha: validationData.fecha,\n      sucursal: validationData.branchName.split(' ')[1].toLowerCase()\n    }\n  }\n};"
      },
      "id": "slot-not-available",
      "name": "Slot Not Available",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "jsCode": "// Retornar error de validacion\nreturn {\n  json: $('Validate Input').item.json\n};"
      },
      "id": "return-validation-error",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "content": "## ESVA Tool: Agendar Cita v2.0\n\n**Mejoras v2.0:**\n- Aliases de sucursales (hmo, noga, etc.)\n- Datos de ubicacion reales\n- WhatsApp Location support\n- Notificacion al Dashboard\n- Retry logic en HTTP calls\n- Timezone Hermosillo (UTC-7)\n- Mensaje menciona VALORACION GRATUITA\n\n**Inputs:**\n- fecha: YYYY-MM-DD\n- hora: HH:MM\n- sucursal: 'nogales', 'hermosillo' (o aliases)\n- nombre_paciente: Nombre completo\n- telefono: Numero de telefono\n- lead_id: UUID del lead\n- clasificacion: HOT, WARM, COLD\n\n**Proceso:**\n1. Validar inputs + resolver aliases\n2. Verificar slot disponible\n3. Crear appointment en Supabase\n4. Actualizar lead status\n5. Notificar al Dashboard\n6. Retornar con WhatsApp Location\n\n**Sucursales:**\n- Nogales: 31.310517, -110.944340\n- Hermosillo: 29.108756, -110.947971",
        "height": 520,
        "width": 340,
        "color": 4
      },
      "id": "sticky-note",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-340, 40]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Verify Slot Available",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Slot Available": {
      "main": [
        [
          {
            "node": "Is Slot Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Slot Available?": {
      "main": [
        [
          {
            "node": "Create Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slot Not Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment": {
      "main": [
        [
          {
            "node": "Update Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead": {
      "main": [
        [
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "esva-tool-agendar-cita-v2"
  },
  "tags": [
    {"name": "ESVA"},
    {"name": "Tool"},
    {"name": "Appointments"}
  ]
}
