n8n-workflows/ESVA_WhatsApp_Handler.json
{
  "name": "ESVA_WhatsApp_Handler",
  "nodes": [
    {
      "parameters": {
        "updates": ["messages"],
        "options": {}
      },
      "id": "whatsapp-trigger",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "webhookId": "esva-whatsapp-handler"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter-status-updates",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-valid-messages",
      "name": "Filter Valid Messages",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].text?.body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].button?.payload }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Button Response"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].interactive?.button_reply }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Interactive Button"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Media Message"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "switch-message-type",
      "name": "Message Type Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/get_or_create_lead",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_tenant_id\": \"a0000000-0000-0000-0000-000000000001\",\n  \"p_phone\": \"{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\",\n  \"p_source\": \"whatsapp\",\n  \"p_external_id\": \"{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\",\n  \"p_name\": \"{{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 10000
        }
      },
      "id": "get-or-create-lead",
      "name": "Get or Create Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": \"{{ $('Get Lead Details').item.json[0]?.active_conversation_id || null }}\",\n  \"role\": \"user\",\n  \"content\": \"{{ $('WhatsApp Trigger').item.json.messages[0].text?.body || $('WhatsApp Trigger').item.json.messages[0].button?.payload || $('WhatsApp Trigger').item.json.messages[0].interactive?.button_reply?.title || '[Mensaje multimedia]' }}\",\n  \"content_type\": \"text\",\n  \"channel_message_id\": \"{{ $('WhatsApp Trigger').item.json.messages[0].id }}\",\n  \"whatsapp_message_id\": \"{{ $('WhatsApp Trigger').item.json.messages[0].id }}\",\n  \"status\": \"delivered\",\n  \"metadata\": {\n    \"wa_id\": \"{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\",\n    \"profile_name\": \"{{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\"\n  }\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "save-inbound-message",
      "name": "Save Inbound Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "phone_normalized",
              "value": "eq.{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
            },
            {
              "name": "tenant_id",
              "value": "eq.a0000000-0000-0000-0000-000000000001"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-lead-details",
      "name": "Get Lead Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "role,content,created_at"
            },
            {
              "name": "conversation_id",
              "value": "eq.{{ $('Get Lead Details').item.json[0]?.active_conversation_id }}"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-conversation-history",
      "name": "Get Conversation History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/appointments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,scheduled_at,duration_minutes,status,branch_id,branches(name)"
            },
            {
              "name": "lead_id",
              "value": "eq.{{ $('Get Lead Details').item.json[0]?.id }}"
            },
            {
              "name": "scheduled_at",
              "value": "gte.{{ $now.toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "status",
              "value": "in.(scheduled,confirmed)"
            },
            {
              "name": "order",
              "value": "scheduled_at.asc"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-upcoming-appointments",
      "name": "Get Upcoming Appointments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Preparar contexto completo para el AI Agent\nconst trigger = $('WhatsApp Trigger').item.json;\nconst leadDetails = $('Get Lead Details').item.json[0] || {};\nconst history = $('Get Conversation History').item.json || [];\nconst appointments = $('Get Upcoming Appointments').item.json || [];\n\n// Extraer mensaje del usuario\nconst messageContent = trigger.messages[0].text?.body || \n                       trigger.messages[0].button?.payload ||\n                       trigger.messages[0].interactive?.button_reply?.title ||\n                       '[Mensaje multimedia]';\n\n// Determinar si es cliente nuevo o recurrente\nconst isReturningCustomer = history.length > 0;\nconst hasUpcomingAppointment = appointments.length > 0;\n\n// Formatear historial de conversacion (ultimos 10 mensajes)\nlet conversationContext = '';\nif (history.length > 0) {\n  const reversedHistory = [...history].reverse();\n  conversationContext = reversedHistory.map(msg => {\n    const role = msg.role === 'user' ? 'Paciente' : 'ESVA';\n    return `${role}: ${msg.content}`;\n  }).join('\\n');\n}\n\n// Formatear informacion de cita proxima\nlet appointmentInfo = '';\nif (hasUpcomingAppointment) {\n  const apt = appointments[0];\n  const aptDate = new Date(apt.scheduled_at);\n  const diasSemana = ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'];\n  const meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];\n  const fechaFormateada = `${diasSemana[aptDate.getDay()]} ${aptDate.getDate()} de ${meses[aptDate.getMonth()]}`;\n  const horaFormateada = aptDate.toLocaleTimeString('es-MX', { hour: '2-digit', minute: '2-digit', hour12: true });\n  \n  appointmentInfo = `\\n\\nCITA PROGRAMADA:\\n- Fecha: ${fechaFormateada}\\n- Hora: ${horaFormateada}\\n- Sucursal: ${apt.branches?.name || 'Por confirmar'}\\n- Estado: ${apt.status}`;\n}\n\n// Detectar idioma del mensaje\nconst englishPatterns = /\\b(hi|hello|good|morning|afternoon|how|much|cost|price|appointment|veneers|teeth|dental|where|when|what|can|you|the|is|are|do|have|would|like|want|need)\\b/i;\nconst detectedLanguage = englishPatterns.test(messageContent) ? 'en' : 'es';\n\n// Obtener fecha y hora actual en zona horaria de Mexico\nconst now = new Date();\nconst mexicoTime = new Date(now.toLocaleString('en-US', { timeZone: 'America/Hermosillo' }));\nconst diasSemana = ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'];\nconst meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];\nconst currentDateFormatted = `${diasSemana[mexicoTime.getDay()]} ${mexicoTime.getDate()} de ${meses[mexicoTime.getMonth()]} de ${mexicoTime.getFullYear()}`;\nconst currentTime = mexicoTime.toLocaleTimeString('es-MX', { hour: '2-digit', minute: '2-digit', hour12: true });\n\nreturn {\n  json: {\n    // Informacion del mensaje\n    messageContent: messageContent,\n    messageType: trigger.messages[0].type,\n    \n    // Informacion del contacto\n    contactName: trigger.contacts[0].profile.name,\n    contactPhone: trigger.contacts[0].wa_id,\n    \n    // Informacion del lead\n    leadId: leadDetails.id || null,\n    leadScore: leadDetails.score || 50,\n    leadClassification: leadDetails.classification || 'warm',\n    leadStatus: leadDetails.status || 'new',\n    isReturningCustomer: isReturningCustomer,\n    preferredLanguage: detectedLanguage,\n    \n    // Contexto de conversacion\n    conversationHistory: conversationContext,\n    historyCount: history.length,\n    \n    // Citas\n    hasUpcomingAppointment: hasUpcomingAppointment,\n    appointmentInfo: appointmentInfo,\n    \n    // Fecha actual\n    currentDate: currentDateFormatted,\n    currentDateISO: now.toISOString().split('T')[0],\n    currentTime: currentTime,\n    dayOfWeek: diasSemana[mexicoTime.getDay()]\n  }\n};"
      },
      "id": "prepare-ai-context",
      "name": "Prepare AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messageContent }}",
        "options": {
          "systemMessage": "=# ROL Y PERSONALIDAD\nEres el asistente virtual de ESVA Dental Clinic, una clinica dental premium especializada en carillas de porcelana Emax y estetica dental. Tu nombre es \"Asistente ESVA\".\n\nTu personalidad es:\n- Profesional y de lujo: Transmites la calidad premium de ESVA\n- Calido pero no excesivo: Amable sin ser empalagoso\n- Eficiente: Vas al grano con elegancia\n- Experto confiable: Conoces perfectamente los servicios\n\n# INFORMACION DEL PACIENTE ACTUAL\n- Nombre: {{ $json.contactName }}\n- Telefono: {{ $json.contactPhone }}\n- Es cliente recurrente: {{ $json.isReturningCustomer ? 'Si' : 'No (primera vez)' }}\n- Clasificacion: {{ $json.leadClassification }}\n- Idioma detectado: {{ $json.preferredLanguage === 'en' ? 'Ingles' : 'Espanol' }}\n{{ $json.appointmentInfo }}\n\n# HISTORIAL DE CONVERSACION\n{{ $json.conversationHistory || 'Primera interaccion - no hay historial.' }}\n\n# FECHA Y HORA ACTUAL\n- Fecha: {{ $json.currentDate }}\n- Hora: {{ $json.currentTime }} (Hora de Sonora/Hermosillo)\n- Dia: {{ $json.dayOfWeek }}\n\n# REGLAS DE COMUNICACION\n\n## Si es CLIENTE NUEVO:\nSaluda profesionalmente: \"Bienvenido a ESVA Dental! Soy su asistente virtual. Es un placer atenderle. En que puedo ayudarle hoy?\"\n\n## Si es CLIENTE RECURRENTE:\nSaluda personalizado: \"Hola de nuevo, [Nombre]! Que gusto saludarle. En que puedo asistirle?\"\n\n## Si tiene CITA PROGRAMADA:\nMenciona la cita si es relevante.\n\n## Si escriben en INGLES:\nResponde TODO en ingles.\n\n# INFORMACION DE ESVA DENTAL\n\n## Doctor Principal\n- Dr. Alberto Estrella - Fundador y especialista principal\n- IMPORTANTE: Si el paciente pregunta especificamente por el Dr. Alberto Estrella, explicar que es un servicio exclusivo con costo adicional ($850 USD por diente). Si acepta, indicar que lo transferiras con recepcion para coordinar la cita directamente.\n\n## Servicios Principales\n\n1. CARILLAS DE PORCELANA EMAX (Servicio estrella)\n   - Estandar: $295 USD por diente\n   - Equipo ESVA: $395 USD por diente (mejor atencion y acabado)\n   - Exclusividad Dr. Alberto Estrella: $850 USD por diente\n   - El precio final depende del diseno y complejidad del caso\n\n2. VALORACION DENTAL COMPLETA - GRATUITA\n   Incluye:\n   - Fotografias clinicas\n   - Diseno Digital de Sonrisa (DSD)\n   - Diagnostico estetico completo\n   - Recomendacion del mejor plan para tu caso\n   - Sin compromiso\n\n## Sucursales (SOLO 2 activas)\n\n1. ESVA NOGALES (Sucursal Principal)\n   - Direccion: Av. Alvaro Obregon 1228, Bolivar, 84060 Heroica Nogales, Sonora\n   - Telefono: +1 520-619-9380\n   - A minutos de la frontera con Arizona\n   - Ideal para pacientes de USA (dental tourism)\n   - Coordenadas: 31.310517, -110.944340\n\n2. ESVA HERMOSILLO\n   - Direccion: C. Gral. Juan Garcia Cabral 139, Periodista, 83156 Hermosillo, Sonora\n   - Telefono: +52 662-464-9887\n   - Coordenadas: 29.108756, -110.947971\n\n## Horarios (todas las sucursales)\n- Lunes a Viernes: 9:30 AM - 6:00 PM\n- Sabados: 10:00 AM - 2:00 PM\n- Domingos: Cerrado\n\n## Slots de citas disponibles\n- L-V: 9:30, 10:30, 11:30, 12:30, 13:30, 14:30, 15:30, 16:30\n- Sabados: 10:00, 11:00, 12:00, 13:00\n- Duracion: 60 minutos por cita\n- IMPORTANTE: Minimo 1 dia de anticipacion (no se agenda para el mismo dia)\n\n# PREGUNTAS FRECUENTES (FAQs)\n\n1. Cuanto cuestan las carillas?\n   R: Estandar $295 USD, Equipo ESVA $395 USD, Dr. Alberto Estrella $850 USD por diente. El precio final depende del diseno y complejidad.\n\n2. El procedimiento duele?\n   R: No. Es un tratamiento rapido, seguro y practicamente indoloro.\n\n3. Las carillas se ven naturales?\n   R: Si. Trabajamos con porcelana Emax de alta estetica y diseno personalizado en nuestro laboratorio ESVA Lab.\n\n4. Cuanto tiempo duran las carillas?\n   R: Entre 10 y 15 anos, dependiendo de tus cuidados y habitos.\n\n5. Que incluye la valoracion?\n   R: Fotografias clinicas, Diseno Digital de Sonrisa, diagnostico estetico completo y recomendacion del mejor plan. Todo GRATIS y sin compromiso.\n\n6. Que diferencia hay entre los planes?\n   R: Cambian en acabado estetico, nivel de detalle y quien realiza el proceso. Todos ofrecen excelente calidad.\n\n7. Atienden pacientes de EE.UU.?\n   R: Si! Nuestra sucursal de Nogales esta a minutos de la frontera con Arizona. Ideal para dental tourism.\n\n8. Las carillas se manchan?\n   R: No. La porcelana mantiene su color y brillo durante anos.\n\n9. Puedo ver como quedara mi sonrisa antes de empezar?\n   R: Si! Con nuestro Diseno Digital de Sonrisa puedes ver una simulacion antes de iniciar.\n\n10. Cuanto dura el procedimiento / Cuantas visitas necesito?\n    R: Eso se determina en tu cita de valoracion gratuita, ya que depende de cada caso.\n\n# FLUJO DE CONVERSACION\n\n## Cuando pregunten PRECIOS:\n- Dar los 3 niveles de carillas\n- Explicar que el precio final depende del caso\n- Invitar a la valoracion gratuita\n\n## Cuando quieran AGENDAR:\n1. Usar herramienta 'consultar_disponibilidad'\n2. Ofrecer las 2 sucursales (Nogales y Hermosillo)\n3. Usar herramienta 'agendar_cita' para confirmar\n4. Enviar confirmacion con detalles y ubicacion\n\n## Cuando pregunten UBICACION:\n- Usar herramienta 'obtener_ubicacion' que enviara la ubicacion como Location de WhatsApp\n- Mencionar que Nogales esta cerca de la frontera para pacientes de USA\n\n## Cuando pregunten por DR. ALBERTO ESTRELLA especificamente:\n- Explicar que es servicio exclusivo ($850 USD/diente)\n- Si acepta, indicar: \"Con gusto lo transfiero con nuestro equipo de recepcion para coordinar una cita directamente con el Dr. Alberto Estrella. En breve se pondran en contacto con usted.\"\n- Marcar lead como HOT y flag para escalacion\n\n## Si NO esta interesado:\nDespedirse elegantemente: \"Ha sido un placer atenderle. En ESVA estamos para servirle cuando lo necesite. Que tenga un excelente dia!\"\n\n# HERRAMIENTAS DISPONIBLES\n\n1. consultar_disponibilidad: Verifica slots disponibles en fecha y sucursal\n2. agendar_cita: Crea una cita en el sistema\n3. resolver_duda: Busca en base de conocimiento\n4. obtener_ubicacion: Envia ubicacion como Location de WhatsApp\n5. escalar_a_recepcion: Transfiere conversacion a humano (usar para Dr. Estrella)\n\n# CLASIFICACION DE LEADS\n\nClasifica segun servicio de interes:\n- COLD (frio): Limpieza, consulta general, revision rutina\n- WARM (tibio): Blanqueamiento, empastes, extracciones\n- HOT (caliente): Carillas, implantes, coronas, diseno de sonrisa, Dr. Estrella\n\n# FORMATO DE RESPUESTAS\n\n- Maximo 1-2 emojis por mensaje\n- NO uses asteriscos para negritas\n- Mensajes concisos (max 500 caracteres cuando sea posible)\n- Usa saltos de linea para legibilidad\n- NO hagas multiples preguntas en un mensaje\n\n# RESTRICCIONES IMPORTANTES\n\n- NO inventes informacion\n- NO prometas descuentos (ESVA no hace descuentos)\n- NO agendes para el mismo dia\n- NO menciones sucursal de Tijuana (aun no disponible)\n- NO compartas precios de otros servicios (solo carillas tienen precio fijo)\n- NO uses lenguaje informal excesivo\n\n- SI invita siempre a la valoracion gratuita\n- SI menciona el Diseno Digital de Sonrisa como ventaja\n- SI destaca que fabricamos carillas en nuestro laboratorio\n- SI menciona cercania a frontera para pacientes de USA\n\n# RESPONDE AL MENSAJE DEL PACIENTE"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent ESVA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.7,
          "maxTokens": 800
        }
      },
      "id": "openrouter-model",
      "name": "GPT-4o-mini (OpenRouter)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [1460, 520],
      "credentials": {
        "openRouterApi": {
          "id": "openrouter-credentials",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=esva_{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 15
      },
      "id": "buffer-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1580, 520]
    },
    {
      "parameters": {
        "name": "consultar_disponibilidad",
        "description": "Consulta los horarios disponibles para agendar una cita de valoracion en una fecha y sucursal especifica. Usa esta herramienta ANTES de ofrecer horarios al paciente.",
        "workflowId": {
          "__rl": true,
          "value": "ESVA_Tool_Consultar_Disponibilidad",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{ $fromAI('fecha', 'Fecha en formato YYYY-MM-DD. Debe ser al menos 1 dia en el futuro.') }}",
            "sucursal": "={{ $fromAI('sucursal', 'Nombre de la sucursal: nogales o hermosillo') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sucursal",
              "displayName": "sucursal",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "tool-consultar-disponibilidad",
      "name": "Consultar Disponibilidad",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [1700, 520]
    },
    {
      "parameters": {
        "name": "agendar_cita",
        "description": "Agenda una cita de valoracion para el paciente. Solo usar despues de confirmar disponibilidad y obtener confirmacion del paciente. Requiere fecha, hora, sucursal y nombre del paciente.",
        "workflowId": {
          "__rl": true,
          "value": "ESVA_Tool_Agendar_Cita",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{ $fromAI('fecha', 'Fecha de la cita en formato YYYY-MM-DD') }}",
            "hora": "={{ $fromAI('hora', 'Hora de la cita en formato HH:MM (24h)') }}",
            "sucursal": "={{ $fromAI('sucursal', 'Nombre de la sucursal: nogales o hermosillo') }}",
            "nombre_paciente": "={{ $fromAI('nombre_paciente', 'Nombre completo del paciente') }}",
            "telefono": "={{ $('Prepare AI Context').item.json.contactPhone }}",
            "lead_id": "={{ $('Prepare AI Context').item.json.leadId }}",
            "clasificacion": "={{ $fromAI('clasificacion', 'Clasificacion del lead: hot, warm, o cold basado en el servicio de interes') }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "fecha", "displayName": "fecha", "required": true, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "hora", "displayName": "hora", "required": true, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "sucursal", "displayName": "sucursal", "required": true, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "nombre_paciente", "displayName": "nombre_paciente", "required": true, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "telefono", "displayName": "telefono", "required": true, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "lead_id", "displayName": "lead_id", "required": true, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "clasificacion", "displayName": "clasificacion", "required": true, "display": true, "type": "string", "canBeUsedToMatch": true}
          ]
        }
      },
      "id": "tool-agendar-cita",
      "name": "Agendar Cita",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [1820, 520]
    },
    {
      "parameters": {
        "name": "resolver_duda",
        "description": "Busca en la base de conocimiento de ESVA para responder preguntas frecuentes sobre precios, procedimientos, ubicaciones, etc. Usa cuando el paciente haga preguntas especificas.",
        "workflowId": {
          "__rl": true,
          "value": "ESVA_Tool_Resolver_Duda",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "pregunta": "={{ $fromAI('pregunta', 'La pregunta o duda del paciente') }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "pregunta", "displayName": "pregunta", "required": true, "display": true, "type": "string", "canBeUsedToMatch": true}
          ]
        }
      },
      "id": "tool-resolver-duda",
      "name": "Resolver Duda",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [1940, 520]
    },
    {
      "parameters": {
        "name": "obtener_ubicacion",
        "description": "Obtiene y ENVIA la ubicacion de una sucursal como Location de WhatsApp (funciona en iPhone y Android). Usa cuando el paciente pregunte donde esta la clinica o como llegar.",
        "workflowId": {
          "__rl": true,
          "value": "ESVA_Tool_Obtener_Ubicacion",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sucursal": "={{ $fromAI('sucursal', 'Nombre de la sucursal: nogales, hermosillo, o todas') }}",
            "telefono_destino": "={{ $('Prepare AI Context').item.json.contactPhone }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "sucursal", "displayName": "sucursal", "required": true, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "telefono_destino", "displayName": "telefono_destino", "required": true, "display": true, "type": "string", "canBeUsedToMatch": true}
          ]
        }
      },
      "id": "tool-obtener-ubicacion",
      "name": "Obtener Ubicacion",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [2060, 520]
    },
    {
      "parameters": {
        "name": "escalar_a_recepcion",
        "description": "Transfiere la conversacion a un agente humano de recepcion. Usar cuando: 1) El paciente solicita especificamente al Dr. Alberto Estrella, 2) El paciente tiene una queja, 3) La IA no puede resolver la situacion.",
        "workflowId": {
          "__rl": true,
          "value": "ESVA_Tool_Escalar_Recepcion",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('Prepare AI Context').item.json.leadId }}",
            "razon": "={{ $fromAI('razon', 'Razon de la escalacion: dr_estrella, queja, o no_resuelto') }}",
            "contexto": "={{ $fromAI('contexto', 'Breve descripcion de lo que el paciente necesita') }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "lead_id", "displayName": "lead_id", "required": true, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "razon", "displayName": "razon", "required": true, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "contexto", "displayName": "contexto", "required": true, "display": true, "type": "string", "canBeUsedToMatch": true}
          ]
        }
      },
      "id": "tool-escalar-recepcion",
      "name": "Escalar a Recepcion",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [2180, 520]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $env.WHATSAPP_PHONE_NUMBER_ID }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "send-whatsapp-response",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [1760, 300],
      "credentials": {
        "whatsAppBusinessApi": {
          "id": "whatsapp-credentials",
          "name": "WhatsApp Business API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": \"{{ $('Get Lead Details').item.json[0]?.active_conversation_id || null }}\",\n  \"role\": \"assistant\",\n  \"content\": {{ JSON.stringify($('AI Agent ESVA').item.json.output) }},\n  \"content_type\": \"text\",\n  \"metadata\": {\n    \"ai_model\": \"gpt-4o-mini\",\n    \"ai_generated\": true\n  },\n  \"status\": \"sent\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "save-outbound-message",
      "name": "Save Outbound Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "eq.{{ $('Prepare AI Context').item.json.leadId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"last_contact_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "update-lead-last-contact",
      "name": "Update Lead Last Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $env.WHATSAPP_PHONE_NUMBER_ID }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "Gracias por su mensaje. Por el momento solo puedo procesar mensajes de texto. Podria escribirme su consulta?",
        "additionalFields": {}
      },
      "id": "handle-media-message",
      "name": "Handle Media Message",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [660, 500],
      "credentials": {
        "whatsAppBusinessApi": {
          "id": "whatsapp-credentials",
          "name": "WhatsApp Business API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-data",
              "name": "error",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "error-node",
              "name": "errorNode",
              "value": "={{ $execution.workflow.name }}",
              "type": "string"
            },
            {
              "id": "error-time",
              "name": "errorTime",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2200, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/notification_queue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notification_type\": \"system_alert\",\n  \"priority\": \"high\",\n  \"recipient_type\": \"internal_team\",\n  \"subject\": \"Error en WhatsApp Handler ESVA\",\n  \"body\": \"Error en el workflow de WhatsApp: {{ $json.error?.message || 'Error desconocido' }}\",\n  \"metadata\": {{ JSON.stringify($json) }},\n  \"status\": \"pending\"\n}",
        "options": {}
      },
      "id": "notify-error",
      "name": "Notify Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "content": "## ESVA WhatsApp Handler v2.0\n\n**Mejoras implementadas:**\n\n1. Modelo: GPT-4o-mini via OpenRouter\n   - 95% mas economico que Claude Sonnet 4\n   - Respuestas mas rapidas\n   - Suficiente para chat de WhatsApp\n\n2. System Prompt actualizado:\n   - Dr. Alberto Estrella con nombre completo\n   - Direcciones REALES de sucursales\n   - Telefonos REALES\n   - 10 FAQs de la imagen\n   - Logica de escalacion a recepcion\n\n3. Manejo de errores robusto:\n   - Retry en llamadas a Supabase\n   - Notificacion de errores criticos\n   - Continue on fail donde aplica\n\n4. Nueva herramienta:\n   - escalar_a_recepcion (para Dr. Estrella)\n\n5. Flujo de guardado mejorado:\n   - Guarda mensaje entrante ANTES del AI\n   - Guarda respuesta DESPUES de enviar",
        "height": 520,
        "width": 380,
        "color": 5
      },
      "id": "sticky-note-main",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-350, 50]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Filter Valid Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Messages": {
      "main": [
        [
          {
            "node": "Message Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type Router": {
      "main": [
        [
          {
            "node": "Get or Create Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get or Create Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get or Create Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Media Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get or Create Lead": {
      "main": [
        [
          {
            "node": "Get Lead Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Details": {
      "main": [
        [
          {
            "node": "Save Inbound Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Conversation History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Upcoming Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Inbound Message": {
      "main": [
        [
          {
            "node": "Prepare AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation History": {
      "main": [
        [
          {
            "node": "Prepare AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Upcoming Appointments": {
      "main": [
        [
          {
            "node": "Prepare AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Context": {
      "main": [
        [
          {
            "node": "AI Agent ESVA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o-mini (OpenRouter)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent ESVA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent ESVA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent ESVA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent ESVA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Resolver Duda": {
      "ai_tool": [
        [
          {
            "node": "AI Agent ESVA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Ubicacion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent ESVA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Escalar a Recepcion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent ESVA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent ESVA": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response": {
      "main": [
        [
          {
            "node": "Save Outbound Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Outbound Message": {
      "main": [
        [
          {
            "node": "Update Lead Last Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Notify Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Error Handler"
  },
  "staticData": null,
  "meta": {
    "templateId": "esva-whatsapp-handler-v2"
  },
  "pinData": {},
  "versionId": "2.0.0",
  "tags": [
    {"name": "ESVA"},
    {"name": "WhatsApp"},
    {"name": "AI Agent"},
    {"name": "v2"}
  ]
}
