n8n-workflows/ESVA_Tool_Consultar_Disponibilidad.json
{
  "name": "ESVA_Tool_Consultar_Disponibilidad",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// ESVA Tool: Consultar Disponibilidad v2.0\n// Version: 2.0 - Mejorado con aliases y retry logic\n// ===========================================\n\nconst fecha = $input.item.json.fecha;\nlet sucursal = ($input.item.json.sucursal || '').toLowerCase().trim();\n\n// ALIASES DE SUCURSALES\nconst sucursalAliases = {\n  'nogales': 'nogales',\n  'noga': 'nogales',\n  'frontera': 'nogales',\n  'arizona': 'nogales',\n  'usa': 'nogales',\n  'hermosillo': 'hermosillo',\n  'hillo': 'hermosillo',\n  'hmo': 'hermosillo'\n};\n\n// Resolver alias\nsucursal = sucursalAliases[sucursal] || sucursal;\n\n// Mapear nombre de sucursal a branch_id\nconst branchIds = {\n  'nogales': 'b0000000-0000-0000-0000-000000000001',\n  'hermosillo': 'b0000000-0000-0000-0000-000000000003'\n};\n\nconst branchId = branchIds[sucursal];\n\nif (!branchId) {\n  return {\n    json: {\n      success: false,\n      error: 'sucursal_invalida',\n      message: 'Sucursal no valida. Tenemos sucursales en Nogales y Hermosillo. Cual le queda mejor?',\n      available_branches: ['Nogales', 'Hermosillo']\n    }\n  };\n}\n\n// Validar fecha\nif (!fecha) {\n  return {\n    json: {\n      success: false,\n      error: 'fecha_requerida',\n      message: 'Por favor indiqueme que fecha le gustaria para su cita.'\n    }\n  };\n}\n\nconst requestedDate = new Date(fecha + 'T12:00:00');\nconst today = new Date();\n\n// Timezone Hermosillo (UTC-7)\nconst hermosillo_offset = -7;\nconst nowHermosillo = new Date(today.getTime() + (hermosillo_offset * 60 + today.getTimezoneOffset()) * 60000);\n\nif (isNaN(requestedDate.getTime())) {\n  return {\n    json: {\n      success: false,\n      error: 'fecha_formato_invalido',\n      message: 'No pude entender esa fecha. Por favor use formato como \"15 de enero\" o \"2025-01-15\".'\n    }\n  };\n}\n\n// Comparar solo fechas\nconst todayStr = nowHermosillo.toISOString().split('T')[0];\nconst requestedStr = fecha;\n\n// No mismo dia ni pasado\nif (requestedStr <= todayStr) {\n  return {\n    json: {\n      success: false,\n      error: 'fecha_pasada',\n      message: 'No se pueden agendar citas para hoy o dias pasados. El minimo es 1 dia de anticipacion. Que le parece manana?'\n    }\n  };\n}\n\n// No mas de 60 dias (aumentado de 30)\nconst maxDate = new Date();\nmaxDate.setDate(maxDate.getDate() + 60);\nconst maxDateStr = maxDate.toISOString().split('T')[0];\nif (requestedStr > maxDateStr) {\n  return {\n    json: {\n      success: false,\n      error: 'fecha_muy_lejana',\n      message: 'Por ahora solo podemos agendar citas con hasta 60 dias de anticipacion. Le gustaria elegir una fecha mas cercana?'\n    }\n  };\n}\n\n// Dia de la semana\nconst dayOfWeek = requestedDate.getDay();\nconst diasSemana = ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'];\n\n// Domingo cerrado\nif (dayOfWeek === 0) {\n  // Sugerir lunes siguiente\n  const nextMonday = new Date(requestedDate);\n  nextMonday.setDate(nextMonday.getDate() + 1);\n  const nextMondayStr = nextMonday.toISOString().split('T')[0];\n  \n  return {\n    json: {\n      success: false,\n      error: 'domingo_cerrado',\n      message: 'Los domingos estamos cerrados. Le gustaria el lunes ' + nextMonday.getDate() + '?',\n      suggested_date: nextMondayStr,\n      is_sunday: true\n    }\n  };\n}\n\n// Slots disponibles segun dia\nlet availableSlots;\nif (dayOfWeek === 6) {\n  // Sabado: 10:00 - 14:00 (cada hora)\n  availableSlots = ['10:00', '11:00', '12:00', '13:00'];\n} else {\n  // Lunes a Viernes: 9:30 - 18:00 (slots de 1 hora)\n  availableSlots = ['09:30', '10:30', '11:30', '12:30', '13:30', '14:30', '15:30', '16:30', '17:00'];\n}\n\nreturn {\n  json: {\n    success: true,\n    fecha: fecha,\n    sucursal: sucursal,\n    sucursalDisplay: sucursal.charAt(0).toUpperCase() + sucursal.slice(1),\n    branchId: branchId,\n    dayOfWeek: dayOfWeek,\n    dayName: diasSemana[dayOfWeek],\n    isSaturday: dayOfWeek === 6,\n    possibleSlots: availableSlots\n  }\n};"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-validation",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-validation",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/appointments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "appointment_time"
            },
            {
              "name": "tenant_id",
              "value": "eq.a0000000-0000-0000-0000-000000000001"
            },
            {
              "name": "branch_id",
              "value": "eq.{{ $json.branchId }}"
            },
            {
              "name": "appointment_date",
              "value": "eq.{{ $json.fecha }}"
            },
            {
              "name": "status",
              "value": "in.(PENDING,CONFIRMED,CHECKED_IN,IN_PROGRESS)"
            },
            {
              "name": "deleted_at",
              "value": "is.null"
            }
          ]
        },
        "options": {}
      },
      "id": "get-existing-appointments",
      "name": "Get Existing Appointments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// Calcular disponibilidad y construir respuesta\n// ===========================================\n\nconst existingAppointments = $('Get Existing Appointments').item.json || [];\nconst validationData = $('Validate Input').item.json;\nconst possibleSlots = validationData.possibleSlots;\n\n// Extraer horas ocupadas\nlet occupiedSlots = [];\nif (Array.isArray(existingAppointments)) {\n  occupiedSlots = existingAppointments.map(apt => {\n    const time = apt.appointment_time;\n    return time ? time.substring(0, 5) : null;\n  }).filter(Boolean);\n} else if (existingAppointments.appointment_time) {\n  // Single appointment returned\n  occupiedSlots = [existingAppointments.appointment_time.substring(0, 5)];\n}\n\n// Filtrar slots disponibles\nconst availableSlots = possibleSlots.filter(slot => !occupiedSlots.includes(slot));\nconst hasAvailability = availableSlots.length > 0;\n\n// Formatear fecha\nconst fecha = new Date(validationData.fecha + 'T12:00:00');\nconst diasSemana = ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'];\nconst meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];\nconst fechaFormateada = `${diasSemana[fecha.getDay()]} ${fecha.getDate()} de ${meses[fecha.getMonth()]}`;\n\n// Formatear slots a 12h\nfunction formatSlot(slot) {\n  const [hour, min] = slot.split(':');\n  const h = parseInt(hour);\n  const ampm = h >= 12 ? 'PM' : 'AM';\n  const h12 = h > 12 ? h - 12 : (h === 0 ? 12 : h);\n  return `${h12}:${min} ${ampm}`;\n}\n\nlet response;\nif (hasAvailability) {\n  const slotsFormatted = availableSlots.map(formatSlot);\n  \n  // Agrupar por periodo del dia\n  const manana = availableSlots.filter(s => parseInt(s.split(':')[0]) < 12);\n  const tarde = availableSlots.filter(s => parseInt(s.split(':')[0]) >= 12);\n  \n  let mensaje = `Para el ${fechaFormateada} en ESVA ${validationData.sucursalDisplay} `;\n  \n  if (availableSlots.length <= 3) {\n    mensaje += `nos quedan estos horarios: ${slotsFormatted.join(', ')}.`;\n  } else {\n    mensaje += `tenemos ${availableSlots.length} horarios disponibles:\\n\\n`;\n    if (manana.length > 0) {\n      mensaje += `Manana: ${manana.map(formatSlot).join(', ')}\\n`;\n    }\n    if (tarde.length > 0) {\n      mensaje += `Tarde: ${tarde.map(formatSlot).join(', ')}`;\n    }\n  }\n  \n  mensaje += `\\n\\nCual horario le acomoda mejor?`;\n  \n  response = {\n    success: true,\n    hasAvailability: true,\n    fecha: validationData.fecha,\n    fechaFormateada: fechaFormateada,\n    sucursal: validationData.sucursalDisplay,\n    branchId: validationData.branchId,\n    availableSlots: availableSlots,\n    slotsFormatted: slotsFormatted,\n    totalAvailable: availableSlots.length,\n    totalOccupied: occupiedSlots.length,\n    message: mensaje\n  };\n} else {\n  // Sin disponibilidad - sugerir dias cercanos\n  const nextDay = new Date(fecha);\n  nextDay.setDate(nextDay.getDate() + 1);\n  // Skip domingo\n  if (nextDay.getDay() === 0) nextDay.setDate(nextDay.getDate() + 1);\n  \n  const nextDayStr = nextDay.toISOString().split('T')[0];\n  const nextDayFormatted = `${diasSemana[nextDay.getDay()]} ${nextDay.getDate()} de ${meses[nextDay.getMonth()]}`;\n  \n  response = {\n    success: true,\n    hasAvailability: false,\n    fecha: validationData.fecha,\n    fechaFormateada: fechaFormateada,\n    sucursal: validationData.sucursalDisplay,\n    branchId: validationData.branchId,\n    availableSlots: [],\n    totalAvailable: 0,\n    suggestedDate: nextDayStr,\n    suggestedDateFormatted: nextDayFormatted,\n    message: `Lo siento, el ${fechaFormateada} ya no tenemos horarios disponibles en ESVA ${validationData.sucursalDisplay}. Le gustaria ver disponibilidad para el ${nextDayFormatted}?`\n  };\n}\n\nreturn { json: response };"
      },
      "id": "calculate-availability",
      "name": "Calculate Availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "jsCode": "// Retornar error de validacion\nconst validationError = $('Validate Input').item.json;\n\nreturn {\n  json: {\n    success: false,\n    hasAvailability: false,\n    error: validationError.error || 'validation_error',\n    message: validationError.message,\n    available_branches: validationError.available_branches || null,\n    suggested_date: validationError.suggested_date || null\n  }\n};"
      },
      "id": "return-validation-error",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "content": "## ESVA Tool: Consultar Disponibilidad v2.0\n\n**Funcion:** Verifica horarios disponibles para citas\n\n**Mejoras v2.0:**\n- Soporte para aliases (hmo, noga, frontera)\n- Sugerencia de fechas alternativas\n- Retry en llamadas HTTP\n- Mejor agrupacion de horarios (manana/tarde)\n- Timezone Hermosillo (UTC-7)\n- Aumentado a 60 dias maximo\n\n**Inputs:**\n- fecha: YYYY-MM-DD\n- sucursal: 'nogales', 'hermosillo' (o aliases)\n\n**Validaciones:**\n- No mismo dia ni pasado\n- No domingos (sugiere lunes)\n- Maximo 60 dias\n- Sucursal valida\n\n**Horarios:**\n- Lun-Vie: 9:30 AM - 5:00 PM (9 slots)\n- Sabado: 10:00 AM - 1:00 PM (4 slots)\n- Domingo: CERRADO",
        "height": 420,
        "width": 340,
        "color": 3
      },
      "id": "sticky-note",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-300, 100]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Get Existing Appointments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Appointments": {
      "main": [
        [
          {
            "node": "Calculate Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "esva-tool-consultar-disponibilidad-v2"
  },
  "tags": [
    {"name": "ESVA"},
    {"name": "Tool"},
    {"name": "Availability"}
  ]
}
