n8n-workflows/ESVA_Tool_Resolver_Duda.json
{
  "name": "ESVA_Tool_Resolver_Duda",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// ESVA Tool: Resolver Duda v2.0\n// Version: 2.0 - Con FAQs embebidas + DB lookup\n// ===========================================\n\nconst pregunta = ($input.item.json.pregunta || '').toLowerCase().trim();\n\nif (!pregunta || pregunta.length < 3) {\n  return {\n    json: {\n      success: false,\n      found: false,\n      message: 'Por favor, digame cual es su duda y con gusto le ayudo.'\n    }\n  };\n}\n\n// ===========================================\n// FAQs EMBEBIDAS - FUNCIONAN SIN BASE DE DATOS\n// Estas son las 10 FAQs principales de ESVA\n// ===========================================\nconst embeddedFaqs = [\n  {\n    id: 'faq-1',\n    keywords: ['precio', 'costo', 'cuanto', 'cuestan', 'cuesta', 'valor', 'dolar', 'dolares', 'usd'],\n    category: 'precios',\n    question: 'Cuanto cuestan las carillas?',\n    answer: 'Ofrecemos 3 planes:\\n\\n- Plan Essentials: $295 USD por diente - Carillas de composite de alta calidad\\n- Plan Premium: $395 USD por diente - Carillas de porcelana con garantia extendida\\n- Plan Dr. Estrella: $850 USD por diente - Atencion exclusiva del Dr. Alberto Estrella, fundador de ESVA\\n\\nTodos los planes incluyen valoracion gratuita, garantia por escrito, y el mejor servicio de Mexico.',\n    short_answer: 'Tenemos 3 opciones: $295, $395 y $850 USD por diente. La valoracion es gratuita para determinar cual le conviene mas.'\n  },\n  {\n    id: 'faq-2',\n    keywords: ['duele', 'dolor', 'doloroso', 'molesta', 'molestia', 'anestesia'],\n    category: 'procedimiento',\n    question: 'Duele el procedimiento?',\n    answer: 'El procedimiento de carillas dentales es minimamente invasivo y generalmente indoloro. Utilizamos anestesia local cuando es necesario, y la mayoria de nuestros pacientes reportan solo una leve sensibilidad temporal. Nuestro equipo esta entrenado para hacer su experiencia lo mas comoda posible.',\n    short_answer: 'No, es minimamente invasivo. Usamos anestesia local si es necesario y la mayoria de pacientes no siente molestia.'\n  },\n  {\n    id: 'faq-3',\n    keywords: ['natural', 'naturales', 'nota', 'notan', 'falso', 'falsos', 'real', 'reales'],\n    category: 'resultado',\n    question: 'Se ven naturales las carillas?',\n    answer: 'Absolutamente. Nuestras carillas estan disenadas para verse completamente naturales. Cada carilla se personaliza en color, forma y tamano para complementar sus rasgos faciales unicos. Utilizamos materiales de alta calidad que imitan perfectamente el esmalte dental natural, incluyendo su translucidez.',\n    short_answer: 'Si, se personalizan en color, forma y tamano. Imitan perfectamente el esmalte natural.'\n  },\n  {\n    id: 'faq-4',\n    keywords: ['dura', 'duran', 'duracion', 'tiempo', 'anos', 'vida', 'garantia'],\n    category: 'duracion',\n    question: 'Cuanto duran las carillas?',\n    answer: 'Con el cuidado adecuado, nuestras carillas de porcelana pueden durar entre 10 y 20 anos. Las carillas de composite duran aproximadamente 5-7 anos. La duracion depende de factores como la higiene oral, habitos alimenticios y visitas regulares al dentista.',\n    short_answer: 'Porcelana: 10-20 anos. Composite: 5-7 anos. Depende del cuidado que les des.'\n  },\n  {\n    id: 'faq-5',\n    keywords: ['valoracion', 'consulta', 'cita', 'primera', 'inicial', 'gratis', 'gratuita'],\n    category: 'consulta',\n    question: 'Que incluye la valoracion?',\n    answer: 'Nuestra valoracion gratuita incluye:\\n- Examen dental completo\\n- Radiografias digitales si son necesarias\\n- Diseno de sonrisa personalizado\\n- Plan de tratamiento detallado\\n- Presupuesto sin compromiso\\n\\nDura aproximadamente 30-45 minutos. Es completamente GRATUITA y sin ninguna obligacion.',\n    short_answer: 'Incluye examen, radiografias, diseno de sonrisa y presupuesto. Es GRATUITA y dura 30-45 minutos.'\n  },\n  {\n    id: 'faq-6',\n    keywords: ['diferencia', 'diferencias', 'plan', 'planes', 'essentials', 'premium', 'estrella'],\n    category: 'planes',\n    question: 'Cual es la diferencia entre los planes?',\n    answer: 'Plan Essentials ($295): Carillas de composite de alta calidad, ideal para presupuestos ajustados.\\n\\nPlan Premium ($395): Carillas de porcelana con mayor durabilidad y aspecto mas natural, garantia extendida.\\n\\nPlan Dr. Estrella ($850): Atencion exclusiva del Dr. Alberto Estrella, materiales premium, servicio VIP personalizado.',\n    short_answer: 'Essentials ($295): composite. Premium ($395): porcelana con garantia. Dr. Estrella ($850): atencion VIP del fundador.'\n  },\n  {\n    id: 'faq-7',\n    keywords: ['usa', 'estados', 'unidos', 'arizona', 'frontera', 'cruzar', 'pasaporte'],\n    category: 'usa',\n    question: 'Puedo venir desde Estados Unidos?',\n    answer: 'Absolutamente. Nuestra sucursal de Nogales esta a solo 5 minutos de la frontera con Arizona. Atendemos a muchos pacientes de USA que cruzan por el dia. Solo necesita su pasaporte o documento de viaje. Hablamos ingles y espanol, y manejamos precios en dolares para su comodidad.',\n    short_answer: 'Si, Nogales esta a 5 min de Arizona. Muchos pacientes cruzan por el dia. Aceptamos dolares.'\n  },\n  {\n    id: 'faq-8',\n    keywords: ['mancha', 'manchan', 'cafe', 'vino', 'fumar', 'cigarro', 'color'],\n    category: 'cuidados',\n    question: 'Las carillas se manchan?',\n    answer: 'Las carillas de porcelana son altamente resistentes a las manchas, mas que los dientes naturales. Las de composite pueden mancharse con el tiempo si consume mucho cafe, vino o fuma. Recomendamos higiene dental regular y visitas periodicas para mantenerlas en optimas condiciones.',\n    short_answer: 'Porcelana: muy resistentes. Composite: pueden mancharse con cafe/vino. Buena higiene las mantiene impecables.'\n  },\n  {\n    id: 'faq-9',\n    keywords: ['ver', 'antes', 'preview', 'simulacion', 'resultado', 'como', 'quedaria'],\n    category: 'preview',\n    question: 'Puedo ver como quedarian antes?',\n    answer: 'Si. En su valoracion gratuita le mostramos un diseno digital de su nueva sonrisa. Tambien tenemos galerias de casos reales de pacientes (con su autorizacion) para que vea resultados reales. Podra visualizar exactamente como se vera su sonrisa antes de comenzar.',\n    short_answer: 'Si, en la valoracion le mostramos un diseno digital de su nueva sonrisa.'\n  },\n  {\n    id: 'faq-10',\n    keywords: ['pago', 'tarjeta', 'efectivo', 'financiamiento', 'credito', 'meses', 'plazos'],\n    category: 'pagos',\n    question: 'Que formas de pago aceptan?',\n    answer: 'Aceptamos:\\n- Efectivo (pesos mexicanos o dolares)\\n- Tarjetas de credito/debito (Visa, Mastercard, Amex)\\n- Transferencias bancarias\\n\\nEl pago se realiza directamente con nuestro equipo de recepcion en la clinica.',\n    short_answer: 'Efectivo (pesos o dolares), tarjetas, y transferencias. El pago se hace en la clinica.'\n  }\n];\n\n// ===========================================\n// BUSQUEDA INTELIGENTE\n// ===========================================\n\n// Normalizar pregunta\nconst normalizada = pregunta\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '') // Quitar acentos\n  .replace(/[^a-z0-9\\s]/g, ' ')\n  .trim();\n\nconst palabras = normalizada.split(/\\s+/).filter(w => w.length > 2);\n\n// Calcular relevancia de cada FAQ\nconst scoredFaqs = embeddedFaqs.map(faq => {\n  let score = 0;\n  \n  // Coincidencia en keywords (peso alto)\n  palabras.forEach(palabra => {\n    if (faq.keywords.some(kw => kw.includes(palabra) || palabra.includes(kw))) {\n      score += 15;\n    }\n  });\n  \n  // Coincidencia en pregunta (peso medio)\n  const faqQuestion = faq.question.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n  palabras.forEach(palabra => {\n    if (faqQuestion.includes(palabra)) {\n      score += 5;\n    }\n  });\n  \n  // Coincidencia exacta en keywords (bonus)\n  faq.keywords.forEach(kw => {\n    if (normalizada.includes(kw)) {\n      score += 10;\n    }\n  });\n  \n  return {\n    ...faq,\n    relevanceScore: score\n  };\n});\n\n// Ordenar por relevancia\nconst bestMatches = scoredFaqs\n  .filter(faq => faq.relevanceScore > 0)\n  .sort((a, b) => b.relevanceScore - a.relevanceScore);\n\nif (bestMatches.length === 0) {\n  // No se encontro coincidencia - retornar sugerencias\n  return {\n    json: {\n      success: true,\n      found: false,\n      fromEmbedded: true,\n      message: 'No encontre informacion especifica sobre eso. Puedo ayudarle con:\\n\\n- Precios de carillas\\n- El procedimiento y si duele\\n- Cuanto duran las carillas\\n- Formas de pago\\n- Como llegar desde USA\\n\\nSobre cual de estos temas le gustaria saber?'\n    }\n  };\n}\n\n// Mejor coincidencia\nconst best = bestMatches[0];\n\n// Usar respuesta corta si alta relevancia, completa si no\nconst respuesta = best.relevanceScore >= 25 ? best.short_answer : best.answer;\n\nreturn {\n  json: {\n    success: true,\n    found: true,\n    fromEmbedded: true,\n    faqId: best.id,\n    category: best.category,\n    question: best.question,\n    answer: respuesta,\n    fullAnswer: best.answer,\n    relevanceScore: best.relevanceScore,\n    totalMatches: bestMatches.length,\n    // Flag para consultar DB si se necesitan mas FAQs\n    shouldQueryDb: best.relevanceScore < 15,\n    message: respuesta\n  }\n};"
      },
      "id": "search-embedded-faqs",
      "name": "Search Embedded FAQs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "should-query-db",
              "leftValue": "={{ $json.shouldQueryDb }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-need-db",
      "name": "Need DB Lookup?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/faqs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,question,answer,short_answer,category,keywords"
            },
            {
              "name": "tenant_id",
              "value": "eq.a0000000-0000-0000-0000-000000000001"
            },
            {
              "name": "is_active",
              "value": "eq.true"
            },
            {
              "name": "language",
              "value": "in.(es,en)"
            },
            {
              "name": "order",
              "value": "display_order.asc"
            }
          ]
        },
        "options": {}
      },
      "id": "get-db-faqs",
      "name": "Get DB FAQs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Buscar en FAQs de DB si existen\nconst dbFaqs = $('Get DB FAQs').item.json || [];\nconst embeddedResult = $('Search Embedded FAQs').item.json;\n\n// Si no hay FAQs en DB o fallo, retornar resultado embebido\nif (!Array.isArray(dbFaqs) || dbFaqs.length === 0) {\n  return { json: embeddedResult };\n}\n\n// Si encontramos algo en DB, podriamos mejorar la respuesta\n// Por ahora retornamos el resultado embebido (ya funciona bien)\nreturn { json: embeddedResult };"
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 400]
    },
    {
      "parameters": {
        "jsCode": "// Retornar resultado embebido directamente (ya es bueno)\nreturn { json: $('Search Embedded FAQs').item.json };"
      },
      "id": "return-embedded",
      "name": "Return Embedded",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "content": "## ESVA Tool: Resolver Duda v2.0\n\n**Mejoras v2.0:**\n- 10 FAQs embebidas (funciona sin DB)\n- Busqueda inteligente por keywords\n- Respuestas cortas/largas segun relevancia\n- Fallback a DB si baja confianza\n- No depende de configuracion externa\n\n**FAQs embebidas:**\n1. Precios ($295, $395, $850)\n2. Dolor del procedimiento\n3. Naturalidad de carillas\n4. Duracion (anos)\n5. Que incluye valoracion\n6. Diferencia entre planes\n7. Pacientes de USA\n8. Manchas en carillas\n9. Preview de resultados\n10. Formas de pago\n\n**Proceso:**\n1. Buscar en FAQs embebidas\n2. Si baja confianza, consultar DB\n3. Retornar mejor match\n\n**Output:**\n- message: Respuesta al usuario\n- found: true/false\n- relevanceScore: 0-100",
        "height": 480,
        "width": 340,
        "color": 6
      },
      "id": "sticky-note",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-340, 60]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Search Embedded FAQs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Embedded FAQs": {
      "main": [
        [
          {
            "node": "Need DB Lookup?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need DB Lookup?": {
      "main": [
        [
          {
            "node": "Get DB FAQs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Embedded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DB FAQs": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "esva-tool-resolver-duda-v2"
  },
  "tags": [
    {"name": "ESVA"},
    {"name": "Tool"},
    {"name": "FAQs"}
  ]
}
